In [ ]:
print("hello world")

hello world

In [ ]:
print("Tejaswini")

Tejaswini

In [ ]:
print("Welcome")

Welcome

In [ ]:
print("Tejaswini's Python Class")

Tejaswini's Python Class

In [ ]:
a:int = 'Ntt'
print(type(a))
print(__annotations__['a'])

<class 'str'>
<class 'int'>

In [ ]:
# variable annotation

aa: int = 10
print(aa)

print(__annotations__['aa'])
print(type(aa))

10
<class 'int'>
<class 'int'>

In [ ]:
s = "Banglore"
print(s[3:0:-1])

gna

In [ ]:
s1 = "Hello, World!"
print(s1[-5:2:-2])

o o

In [ ]:
a = input("Enter a number: ")  ## input only takes values as in strings.
print(a)
print(type(a))

Enter a number: 10
10
<class 'str'>

In [ ]:
a = int(input("Enter a number: "))  ##type casting to int
print(a)
print(type(a))

Enter a number: 10
10
<class 'int'>

In [ ]:
##if else statement
a = input("Enter a number: ")
b = input("Enter another number: ")

if a>b:
  print("a is greater")
  print("if block executed")
else:
  print("b is greater")
  print("else block executed")

Enter a number: 5
Enter another number: 2
a is greater
if block executed

In [ ]:
#if else ladder

s = input("Enter a color : ")

if s == "red":
  print("stop")
elif s == "green":
  print("go")
elif s == "orange":
  print("Get Ready")
else:
  print("ivalid color")

Enter a color : red
stop

In [ ]:
s1 = input("Enter a word : ")   #Palindrome function
s1 = s1.lower()
s2 = s1[::-1]
if s2 == s1:
  print("Entered word is a palidrome")
else:
  print("Entered word is not a palidrome")

Enter a word : Malayalam
Entered word is a palidrome

In [ ]:
num = int(input("Enter a number : ")) # multiplication table
i = 1
while(i<11):
  num1 = i*num
  print(num, "*", i, "=", num1)
  i=i+1
  print(num1)
print("End of a table")

Enter a number : 6
6 * 1 = 6
6
6 * 2 = 12
12
6 * 3 = 18
18
6 * 4 = 24
24
6 * 5 = 30
30
6 * 6 = 36
36
6 * 7 = 42
42
6 * 8 = 48
48
6 * 9 = 54
54
6 * 10 = 60
60
End of a table

In [3]:
d1 = {2:100, 4:200, 6:300, 8:400, 10:500}
print(d1)
print(type(d1))
print(d1.keys())
print(d1.values())
print(d1.items())
print(d1[2])
print(d1[10])

{2: 100, 4: 200, 6: 300, 8: 400, 10: 500}
<class 'dict'>
dict_keys([2, 4, 6, 8, 10])
dict_values([100, 200, 300, 400, 500])
dict_items([(2, 100), (4, 200), (6, 300), (8, 400), (10, 500)])
100
500

In [9]:
d2 = {'aa':100, 'bb':200, 'cc':300, 'dd':400, 'ee':500}
print(d2)
print(type(d2))
print(d2.keys())
print(d2['aa'])

{'aa': 100, 'bb': 200, 'cc': 300, 'dd': 400, 'ee': 500}
<class 'dict'>
dict_keys(['aa', 'bb', 'cc', 'dd', 'ee'])
100

In [10]:
d3 = {3:[1,2,3], 6:(1,2,3), 9:"NTT"}
print(d3[3])

[1, 2, 3]

In [12]:
#iterating through a dict

#iterating through keys
d1 = {2:100,
      4:200,
      6:300,
      8:400,
      10:500}
for i in d1:
  print(i)

2
4
6
8
10

In [15]:
#iterating through value
d1 = {2:100,
      4:200,
      6:300,
      8:400,
      10:500}
for i in d1.values():
  print(i)

100
200
300
400
500

In [16]:
# iterating through key value pairs
d1 = {2:100,
      4:200,
      6:300,
      8:400,
      10:500}
for i in d1.items():
    print(i)

(2, 100)
(4, 200)
(6, 300)
(8, 400)
(10, 500)

In [19]:
d1 = {2:100,
      4:200,
      6:300,
      8:400,
      10:500}
for x,y in d1.items():
  print(x)
  print(y)

2
100
4
200
6
300
8
400
10
500